<H1>DENGUE ANALYSIS</H1>
<hr>
<h1>John Paul R. Nieva</h1>

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import folium
from folium.plugins import HeatMap
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt

In [3]:
dengue = pd.read_csv('datasets\\dengue.csv')

In [4]:
dengue

          Month  Year    Region  Dengue_Cases  Dengue_Deaths
0       January  2016  Region I           705              1
1      February  2016  Region I           374              0
2         March  2016  Region I           276              0
3         April  2016  Region I           240              2
4           May  2016  Region I           243              1
...         ...   ...       ...           ...            ...
1015     August  2020     BARMM            91              0
1016  September  2020     BARMM            16              8
1017    October  2020     BARMM            13              9
1018   November  2020     BARMM            15              1
1019   December  2020     BARMM            23              0

[1020 rows x 5 columns]

<h1>Descriptive Analytics</h1>

In [5]:
dengue.describe()

              Year  Dengue_Cases  Dengue_Deaths
count  1020.000000   1020.000000    1020.000000
mean   2018.000000   1124.926471      16.513725
std       1.414907   1662.608878      96.358215
min    2016.000000     10.000000       0.000000
25%    2017.000000    247.750000       1.000000
50%    2018.000000    582.500000       3.000000
75%    2019.000000   1284.250000       7.000000
max    2020.000000  21658.000000    1651.000000

In [6]:
dengue.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,1020.0,2018.000000,1.414907,2016.0,2017.00,2018.0,2019.00,2020.0
Dengue_Cases,1020.0,1124.926471,1662.608878,10.0,247.75,582.5,1284.25,21658.0
Dengue_Deaths,1020.0,16.513725,96.358215,0.0,1.00,3.0,7.00,1651.0

<h1>Checking Null Values</h1>

In [9]:
dengue.isnull().sum()

Month            0
Year             0
Region           0
Dengue_Cases     0
Dengue_Deaths    0
dtype: int64

In [10]:
dengue.dtypes

Month            object
Year              int64
Region           object
Dengue_Cases      int64
Dengue_Deaths     int64
dtype: object